Problem 1: Unique Words in a Sentence

In [ ]:
# Unique Words in a Sentence

# Input from user
sentence = input("Enter sentence: ")

# Split sentence into words
words = sentence.split()

# Convert list to set to get unique words
unique_words = set(words)

# Print count of unique words
print("Unique words count:", len(unique_words))

# Print unique words set
print("Unique words:", unique_words)

Enter sentence: Enter sentence: python is easy and python is powerful
Unique words count: 7
Unique words: {'and', 'is', 'powerful', 'python', 'Enter', 'sentence:', 'easy'}

Problem 2: Highest Salary from Employee Data

In [ ]:
# Highest Salary from Employee Data

# Employee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)

# Print result
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [ ]:
# Find Maximum and Minimum Values

# Input list
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with the first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Print results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [ ]:
# Count Products Above a Price Threshold

# Input list of product prices
prices = [450, 1200, 899, 1500, 300]

# Initialize count
count = 0

# Loop through prices
for price in prices:
    if price > 1000:
        count += 1

# Print result
print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [ ]:
# Calculate Attendance Percentage

# Input attendance list
attendance = ["P", "P", "A", "P", "P"]

# Count number of Present days
present_count = attendance.count("P")

# Total number of days
total_days = len(attendance)

# Calculate attendance percentage
percentage = (present_count / total_days) * 100

# Print result
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [ ]:
# Remove Duplicate Phone Numbers

# Input list of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Print unique phone numbers
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [ ]:
# Count Character Frequency

# Input string
text = "pythonp"

# Dictionary to store character counts
char_frequency = {}

# Loop through each character
for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

# Print result
print(char_frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [ ]:
# Convert List to Tuple

# Input list
numbers = [10, 20, 30]

# Convert list to tuple
tuple_numbers = tuple(numbers)

# Print result
print("Tuple:", tuple_numbers)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [ ]:
# Check if a Key Exists in a Dictionary

# Dictionary of employees
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Key to check
key = "Ravi"

# Check if key exists
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [ ]:
# Calculate Average Marks

# List of marks
marks = [70, 75, 80, 65]

# Calculate sum of marks
total = sum(marks)

# Calculate number of subjects
count = len(marks)

# Calculate average
average = total / count

# Print result
print("Average Marks:", average)

Average Marks: 72.5